
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Press+Start+2P&display=swap');

body {
  background-image:url('../images/fondo.png');
  background-size: cover;
  font-size: 18px;
  font-family: 'Kdam Thmor Pro';
}

.contenedor {
  background-color:rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  padding: 8px;
  margin: 12px;
}

#encabezado {
  display: flex;
  justify-content:space-between; 
  align-items: center;
}

.flex-center {
  display:flex; 
  align-items: center;
}

#logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom-style: solid;
  border-color:lightgrey;
  border-width: 5px;
  margin-right: 22px;
}

.texto-centrado {
  text-align: center;
}

.caja-juego {
  width: 30%;
  height: auto;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

header a {
  text-decoration: none;
}

h1 {
  color: rgb(63, 85, 208);
  font-family: 'Press Start 2P';
  text-shadow: 2px 2px black;
  text-decoration: none;
}

#titulo-abreviado {
  display: none;
}

#contenido-principal {
  display: flex;
}

#lista-juegos {
  max-width: 470px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#lista-juegos button {
  background-color: #bb6a6a;
  color: white;
  display: block;
  padding: 10px;
  font-size: 16px;
  font-family: 'Kdam Thmor Pro';
  cursor: pointer;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  border-style: none;
  border-bottom-style: solid;
  transition: 0.5s;
}

#lista-juegos button:hover,
#lista-juegos button.seleccionado {
  width: 220px;
  transition: 0.5s;
}

#lista-juegos button.seleccionado {
  background-color: crimson;
}

#lista-juegos button:hover {
  background-color: #834a4a; 
  transition: 0.5s;
}

#juego-seleccionado {
  display: flex;
  height: fit-content;
  transition: 1s;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#juego-info {
  padding: 10px 30px;
  text-align: justify;
}

#subpaginas {
  display: flex;
}

#subpaginas a {
  padding: 10px;
  background-color:rgb(63, 85, 208);
  color: white;
  border-radius: 6px;
  border-bottom-style: solid;
  border-color:rgb(37, 52, 137);
  margin-right: 30px;
  display: block;
}

.caja {
  text-align: center;
  margin: 50px;
  border-style: solid;
  border-color:rgb(63, 85, 208);
  border-width: 6px;
  border-radius: 6px;
  background-color: rgb(63, 85, 208);
  color: white;
  box-shadow: 4px 4px black;
}

.caja img {
  height: 300px;
}

input.campo {
  font-family: 'Kdam Thmor Pro';
  font-size: 24px;
  background-color: #ffffffad;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(63, 85, 208);
}

button.boton {
  background-color: #bb6a6a;
  color: white;
  display: block;
  padding: 10px;
  font-size: 22px;
  font-family: 'Kdam Thmor Pro';
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  border-style: none;
  border-bottom-style: solid;
}
