
/*
  min-height  : Altura mínima
  max-height  : Altura máximo
  min-width   : Anchura mínima
  max-width   : Anchura máxima
*/

@media screen and (max-width: 1200px) {
  #titulo-completo {
    display: none;
  }

  #titulo-abreviado {
    display: block;
  }

  #contenido-principal {
    flex-direction: column;
  }

  #lista-juegos {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #lista-juegos button {
    display: inline-block;
    width: auto;
    margin: 6px;
  }
}


@media screen and (max-width: 800px) {
  #subpaginas {
    display: none;
  }
  #encabezado {
    justify-content: center; 
  }
  input.campo {
    width: 100%;
  }
  #juego-seleccionado {
    flex-direction: column;
    padding-right: 0;
  }
  .caja-juego {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
  }
  #juego-info h2 {
    text-align: center;
  }
  #juego-info p {
    text-align: justify;
  }
}